@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


body{
    background-image:  linear-gradient(to bottom, rgba(0, 0, 0, 0.795), rgba(0, 0, 0, 0.178)), url('img.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-family: "Urbanist", sans-serif;
    
}
nav{
    display: flex;
    background-color: #008fb31f;
    width: 100%;
    height: 120px;
    padding: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
img{
    width: 200px;
    margin-left: 40px;
}
a{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    font-weight: 700;
}
a:hover{
    cursor: pointer;
    color: rgb(127, 136, 255);
}
.link{
    display: flex;
    gap: 100px;
    margin-left: 300px;
}

.centered-card{
    width: 60%;
    height: 300px;
    background-color: white;
    color: black;
    padding: 32px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;

}
.color-cards{
    display: flex;
    gap: 20px;
    margin: 20px 0;
}
.color-card{
    width: 50px;
    height: 50px;
    border-radius: 8px;
}
.red{
    background-color: rgb(184, 16, 16);
}
.green{
    background-color: rgb(16, 184, 16);
}
.blue{
    background-color: rgb(16, 16, 184);
}
.button-wrapper{
    display: flex;
    gap: 20px;
}
button{
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
   
   
    font-size: 16px;
    cursor: pointer;
}
.btn-solid{
    background-color: #007BFF;
    color: white;
}
.btn-solid:hover{
    background-color: #0056b3;
}
.btn-outline{
    background-color: transparent;
    color: #007BFF;
    border: 2px solid #007BFF;
}
.btn-outline:hover{
    background-color: #007BFF;
    color: white;
}

@media screen and (max-width: 640px) {
      .menu{
        display: flex;
        position: absolute;
        top: 10%;
        right: 0%;
        padding: 0px 15px;
        width: 30px;
    }    
    .nav-ul, .button-outline{
        display: none;
    }
     nav{
        padding: 10px 0px;
        display: flex;
        align-items: center;
     }   
     a{
        display: none;
     }
     img{
        margin-left: 10px;
        width: 150px;
     }
     .header{
       margin-left: 10px;
     }
     .btn-solid{
        width: 100%;
     }
     .btn-outline{
        width: 100%;
        margin-top: 10px;
     }
}
@media  screen and (min-width:641px) {
    .menu{
        display: none;
    }
}